.font {
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Bold-subset.woff2") format("woff2"),
    url("./Poppins-Bold-subset.zopfli.woff") format("woff");
  unicode-range: U+54, U+61, U+69, U+58, U+2D;
}
